* {
    padding: 0;
    margin: 0;
    background-color: darkgrey;

}

.off {
    display: none;
}

body {
    display: grid;
    grid-template-columns: 40vw 40vw 20vw;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header "
        "nav nav nav"
        "main main aside"
        "footer footer footer ";
}




h1 {
    padding: 1em;
    background: none;
}

h2 {
    padding: 1em;
    background: none;
}

header {
    background: none;
    color: white;
    padding: 2px;
    grid-area: header;
    opacity: 50%;
}

/* Navigation */

ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    list-style: none;
    text-align: center;

    color: violet;
    padding: 0;


}

a {
    text-decoration: none;
    color: lawngreen;
    background: none;

}

.active {
    border-radius: 90%;
    box-shadow: inset -1px -2px 6px 2px green;
    color: black;
    text-shadow: 1px 1px 3px white;
    font-size: 16pt;
    background-color: lawngreen;
    z-index: 1;


}

.active:hover {
    font-size: 16pt;
}

.not_active {
    border-radius: 90%;
    color: lawngreen;
    font-size: 16pt;
    background-color: black;
    z-index: 1;

}

.not_active:hover {
    box-shadow: inset -1px -2px 6px 2px lime;
    text-shadow: 1px 1px 3px white;
}

ul.navbar {
    width: 100vw;

}

/* main */
main {

    grid-area: main;

    z-index: 1;
}

.body {
    min-height: 10em;
    font-size: 14pt;
    background-color: black;
    color: grey;
    padding: 2%;

    border-radius: 28px;
    margin: 1%;
}

/* Portfolio images */
.portmain {
    column-count: 2;
    margin-top: 1%;


}

.portfolio1 {

    width: 37vw;
    margin: 1%;
    margin-top: 2%;
}

.portfolio2 {

    width: 37vw;
    margin: 1%;
    margin-top: 2%;
}

/* aside */
aside {
    font-size: 11pt;
    grid-area: aside;
    

    padding: 11%;

    border-radius: 28px;


}

aside p {
    background: none;

}

/* footer */
footer {

    color: white;
    grid-area: footer;
}

.foot {
    height: 3em;
    background-color: black;
    color: grey;
    padding: 2%;

    border-radius: 28px;
    margin: 1%;
}



main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* background */


.backG {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move1 20s infinite ease;
    z-index: -10;
}

.backG2 {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move2 30s infinite ease;
    z-index: -999;
}

.backG3 {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move3 20s infinite ease;
    z-index: -999;
}

.backG4 {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move4 30s infinite ease;
    z-index: -999;
}

@keyframes move1 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(0vw, 0vh);
    }

    34% {
        transform: translate(0vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 0vh);
    }

    84% {
        transform: translate(0vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes move2 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(29vw, 0vh);
    }

    34% {
        transform: translate(29vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 29vh);
    }

    84% {
        transform: translate(0vw, 29vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes move3 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(58vw, 0vh);
    }

    34% {
        transform: translate(58vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 58vh);
    }

    84% {
        transform: translate(0vw, 58vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes move4 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(85vw, 0vh);
    }

    34% {
        transform: translate(85vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 85vh);
    }

    84% {
        transform: translate(0vw, 85vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}