* {
    padding: 0;
    margin: 0;
    background-color: darkgrey;

}
body{
    margin-left: 2px;
    margin-right: 2px;
}

.off {
    display: none;
}
p{
    background: none;
}
body {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header "
        "nav1 nav2 nav3"
        "main main aside"
        "footer footer footer ";
}




h1 {
    padding: 1em;
    background: none;
}

h2 {
    padding: 1em;
    background: none;
}

header {
    background: none;
    color: white;
    padding: 2px;
    grid-area: header;
    opacity: 50%;
}

/* Navigation */

ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    list-style: none;
    text-align: center;
    padding: 0;
    grid-gap: 1vw;


}

a {
    text-decoration: none;
    color: lawngreen;
    background: none;
    display: block;
    border-radius: 90%;

}

.active {
    border-radius: 90%;
    box-shadow: inset -1px -2px 6px 2px green;
    color: black;
    text-shadow: 1px 1px 3px white;
    font-size: 16pt;
    background-color: lawngreen;
    z-index: 1;


}

.active:hover {
    font-size: 16pt;
}

.not_active {
    border-radius: 90%;
    color: lawngreen;
    font-size: 16pt;
    background-color: black;
    z-index: 1;

}

.not_active:hover {
    box-shadow: inset -1px -2px 6px 2px lime;
    text-shadow: 1px 1px 3px white;
}

ul.navbar {
    width: 70vw;
    margin-left: 14vw;
    margin-right: 16vw;
}

/* main */
main {

    grid-area: main;

    z-index: 1;
}

.body {
    min-height: 10em;
    font-size: 14pt;
    background-color: black;
    color: grey;
    padding: 2%;

    border-radius: 28px;
    margin-top: 2%; 
}

/* Portfolio images */
.portmain {
    column-count: 2;
    margin-top: 1%;


}

.portfolio1 {

    width: 37vw;
    margin: 1%;
    margin-top: 2%;
}

.portfolio2 {

    width: 37vw;
    margin: 1%;
    margin-top: 2%;
}
/* Contact form */

.contact{
  margin-top: 2%;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2vh;
  min-height: 30vh;
  padding: 5%;
  border-radius: 28px;
}

.conlabel{
    font-size: 11pt;
    color: lawngreen;
    border-radius: 10px;
    padding-top: 4%;
    text-align: end;
    font-weight: 600;
    background: none;
}
.coninput{
    
    background-color: gray;
    padding-left: 1%;
    min-height: 36px;
    border-radius: 10px;
    
}
.coninput:required{
    border-color: red;
}
.coninput::placeholder{
    color: black;
    opacity: 50%;
}
.context{
    color: black;
    font-size: 11pt;
    width: 100%;
    min-height: 100px;
    max-height: fit-content;
    resize: none;
}
input::placeholder{
    color: blue;
}
input#check{
    align-self: end;
}
select{
    
    
    max-height: 36px;
}
option:nth-child(2n+3){
    background-color: green;
    
}

.congo{
    background-color: gray;
    grid-column: 2;
    border-radius: 90%;
    opacity: 50%;
    min-height: 36px;
}
.congo:hover{
    background-color: lawngreen;
    border-color: lime;
    font-weight: 600;
}

/* Blog */
#columnsblog{
column-count: 3;
}

.blog1{
    display: block;
    background-color: black;
    break-inside: avoid-column;
    
}
.blog2{
    display: inline-block;
    background-color: black;
    
}
.blog3{
    display: block;
    background-color: black;
    
}
.columnimage{
    max-width: -webkit-fill-available;
}

/* aside */
aside {
    font-size: 11pt;
    grid-area: aside;
    padding: 0%;
    border-radius: 28px;
    margin-top: 7%;
    margin-right: 1%;
    margin-left: 4%;
    padding-top: 5%;
    padding-left: 5%;


}

aside p {
    background: none;

}

/* footer */
footer {

    color: white;
    grid-area: footer;
}

.foot {
    background-color: black;
    color: grey;
    padding-top: 0.5%;
    border-radius: 28px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    padding-bottom: 1px;

}
.foot a img{
    height: 23px;
}



main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* background */


.backG {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move1 20s infinite ease;
    z-index: -10;
}

.backG2 {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move2 30s infinite ease;
    z-index: -999;
}

.backG3 {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move3 20s infinite ease;
    z-index: -999;
}

.backG4 {
    position: fixed;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: -5%;
    top: -8%;
    background-image: radial-gradient(yellow -290%, black 56%);
    animation: move4 30s infinite ease;
    z-index: -999;
}

@keyframes move1 {
    0% {
        transform: translate(0vw, 0vh);
        transform: rotate(180);
    }

    17% {
        transform: translate(0vw, 0vh);
    }

    34% {
        transform: translate(0vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 0vh);
    }

    84% {
        transform: translate(0vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes move2 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(29vw, 0vh);
    }

    34% {
        transform: translate(29vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 29vh);
    }

    84% {
        transform: translate(0vw, 29vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes move3 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(58vw, 0vh);
    }

    34% {
        transform: translate(58vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 58vh);
    }

    84% {
        transform: translate(0vw, 58vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes move4 {
    0% {
        transform: translate(0vw, 0vh);
    }

    17% {
        transform: translate(85vw, 0vh);
    }

    34% {
        transform: translate(85vw, 85vh);
    }

    51% {
        transform: translate(85vw, 85vh);
    }

    68% {
        transform: translate(85vw, 85vh);
    }

    84% {
        transform: translate(0vw, 85vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}