/* *{
    padding: 0;
    margin: 0;

}





h1 {
    padding: 1em;
}

/* Header */
header {
    background: none;
    color: white;
    padding: 20px;
    grid-area: header;
}


/* Navigation */


/* Main */
main {
    background: none;
    
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



/* Right side bar */
aside {
    
    
    background-color: lawngreen;
    
    padding: 6%;
    z-index: 1;
    border-radius: 28px;
    margin: 6%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Footer */
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}


