/* Header */
header {
    background: none;
    color: white;
    padding: 20px;
    grid-area: header;
}


/* Navigation */
li.active {
    background-image: none;
}


/* Main */
main {
    background: none;


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



/* Right side bar */
aside {

    background-color: lime;
    color: black;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: none;
}


/* Footer */
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}