* {
    padding: 0;
    margin: 0;
}

body {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "aside"
        "footer";
}

/* Header */

header {
    grid-area: header;
    color: white;
}

/* Aside */
aside {
    margin: 0;
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    margin-right: 1%;
    margin-left: 1%;
}

/* Footer */
.foot {
    margin: 0%;
    padding: 3%;
    display: flex;
    align-content: stretch;
    align-items: center;
    margin-top: 1%;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    position: absolute;
    grid-area: header;
    border-radius: revert;
    margin-top: 2%;
    margin-left: 2%;


}

.off {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    margin-left: 5%;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    right: 0px;
    border-top: 0.2em solid #fff;
}

nav {
    display: none;
    position: fixed;
    margin-top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
    z-index: 2;
}

ul.navbar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: gray;
    margin: 0;
    margin-top: -48px;
    width: 100%;



}

nav a {
    width: 100%;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}

#columnsblog {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

/* portfolio */
.portmain {
    padding-left: 7%;
}