*{
    padding: 0;
    margin: 0;
    background-color: gray;
}

body {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "aside"
        "footer";
}
.body{min-height: 10em;
    font-size: 14pt;
    background-color: black;
    color: grey;
    padding: 2%;
    border-radius: 28px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%; 
}
p{
    background: none;
}

/* Header */

header {
    grid-area: header;
    background: none;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Aside */
aside{
    font-size: 11pt;
    grid-area: aside;
    padding-bottom: 2%;
    border-radius: 24px;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 1%;
}

/* Footer */

.foot {
    background-color: black;
    color: grey;
    padding-top: 0.5%;
    border-radius: 28px;
    margin-top: 1%;
    display: flex;
    margin-bottom: 1%;
    padding-bottom: 1px;
    align-items: center;
    min-height: 63px;
    padding-left: 3%;
    padding-right: 2%;
    margin-right: 1%;
    margin-left: 1%;

}
.foot a img{
    height: 23px;
}
.foot a{
    background: none;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    position: absolute;
    grid-area: header;


}

.off {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    margin-left: 5%;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    right: 0px;
    border-top: 0.2em solid #fff;
}

nav {
    display: none;
    background-color: red;
    position: fixed;
    margin-top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
}

.navbar {

    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;



}

nav a {
    width: 100%;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}